.pokemon-card {
  background: white;
  border: 1px solid #616161;
  border-radius: 10px;
  width: 150px;
  text-align: center;
  margin: 10px;
  box-shadow: 1px 1px #969696;
}

.poke-num {
  background-color: #616161;
  color: #ffffff;
  font-weight: bold;
}

.type-card {
  width: 75px;
}

.type {
  border: 0px solid;
  border-radius: 5px;
}

.fire {
  background-color: #f08030;
}

.water {
  background-color: #6890f0;
}

.grass {
  background-color: #78c850;
}

.normal {
  background-color: #a8a878;
}

.electric {
  background-color: #f8d030;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #c03028;
}

.poison {
  background-color: #a040a0;
}

.ground {
  background-color: #e0c068;
}

.flying {
  background-color: #a890f0;
}

.psychic {
  background-color: #f85888;
}

.bug {
  background-color: #a8b820;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
}

.dark {
  background-color: #705848;
}

.dragon {
  background-color: #7038f8;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #f0b6bc;
}
